<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpresasEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.EmpresasEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.UsuariosEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.ProdutosEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiasEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.NoticiasEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatosEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.ContatosEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEndpoint</servlet-name>
        <servlet-class>br.com.parquesaojose.endpoint.LoginEndpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresasEndpoint</servlet-name>
        <url-pattern>/EmpresasEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosEndpoint</servlet-name>
        <url-pattern>/UsuariosEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosEndpoint</servlet-name>
        <url-pattern>/ProdutosEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiasEndpoint</servlet-name>
        <url-pattern>/NoticiasEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatosEndpoint</servlet-name>
        <url-pattern>/ContatosEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEndpoint</servlet-name>
        <url-pattern>/LoginEndpoint</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
